In [5]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder , LabelEncoder
from pandas import get_dummies
from numpy import array

In [21]:
df = pd.read_csv("C:/Users/edenl/Desktop/ia_coding/machine_learning/co2/data/co2_building.csv")

In [22]:
df

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3.946027e+06,12764.529300,1.276453e+06,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3.242851e+06,51450.816410,5.145082e+06,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,4.952666e+07,14938.000000,1.493800e+06,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2.768924e+06,18112.130860,1.811213e+06,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5.368607e+06,88039.984380,8.803998e+06,False,NaN,Compliant,NaN,505.01,2.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,Horticulture building,1600 S Dakota St,Seattle,WA,NaN,1624049080,...,1.536550e+05,5.242709e+05,3254.750244,3.254750e+05,True,NaN,Error - Correct Default Data,NaN,20.94,1.70
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,719 8th Ave S,Seattle,WA,NaN,3558300000,...,1.162210e+05,3.965461e+05,5537.299805,5.537300e+05,False,NaN,Compliant,NaN,32.17,2.01
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,1920 1st Ave W,Seattle,WA,NaN,1794501150,...,5.252517e+05,1.792159e+06,39737.390630,3.973739e+06,False,NaN,Compliant,NaN,223.54,16.99
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,8319 8th Ave S,Seattle,WA,NaN,7883603155,...,1.022480e+05,3.488702e+05,3706.010010,3.706010e+05,False,NaN,Compliant,NaN,22.11,1.57
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,2820 S Myrtle St,Seattle,WA,NaN,7857002030,...,1.267744e+05,4.325542e+05,7203.419922,7.203420e+05,False,NaN,Compliant,NaN,41.27,2.26

In [11]:
df.isnull().values.any()

False

In [12]:
df.duplicated().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0      False
1      False
2      False
3      False
4      False
       ...
154    False
155    False
156    False
157    False
158    False
Length: 159, dtype: bool>

In [13]:
df.plot(kind="box" , subplots=True , layout=(17,17) , figsize=(15,15))

ValueError: Layout of 17x17 must be larger than required size 589

Conclusion for the moment a lot of outliers no nan no duplicate
TotalGHGEmissions should be the target

In [ ]:
df

In [14]:
categ = ["GHGEmissionsIntensity","TotalGHGEmissions" , "NaturalGas(kBtu)", "NaturalGas(therms)", "Electricity(kBtu)", "NaturalGas(therms)", "Electricity(kWh)", "SteamUse(kBtu)", "SiteEnergyUseWN(kBtu)", "SiteEnergyUse(kBtu)" , "SourceEUIWN(kBtu/sf)","SourceEUI(kBtu/sf)","SiteEUIWN(kBtu/sf)","SiteEUI(kBtu/sf)","ENERGYSTARScore","LargestPropertyUseTypeGFA","ThirdLargestPropertyUseTypeGFA","YearsENERGYSTARCertified","OSEBuildingID" , "DataYear" , "ZipCode" , "TaxParcelIdentificationNumber" , "Latitude" , "Longitude" , "YearBuilt" , "NumberofBuildings" , "NumberofFloors" , "PropertyGFATotal" , "PropertyGFAParking" , "PropertyGFABuilding(s)" , "BuildingType" , "PrimaryPropertyType"  , "PropertyName", "Address" , "City"  , "State", "Neighborhood" , "ListOfAllPropertyUseTypes"  , "LargestPropertyUseType", "SecondLargestPropertyUseType" , "ThirdLargestPropertyUseType"  , "SecondLargestPropertyUseTypeGFA", "ComplianceStatus" , "DefaultData"  , "Comments", "ComplianceStatus" , "Outlier" , "NaturalGas(kBtu)" , "Electricity(kBtu)" , "Electricity(kWh)"]

In [15]:
df[categ] = df[categ].apply(le.fit_transform)

KeyError: "['SecondLargestPropertyUseType', 'Outlier', 'State', 'SiteEUIWN(kBtu/sf)', 'City', 'SourceEUIWN(kBtu/sf)', 'Comments', 'Electricity(kWh)', 'LargestPropertyUseType', 'YearsENERGYSTARCertified', 'SiteEnergyUseWN(kBtu)', 'Neighborhood', 'ComplianceStatus', 'NaturalGas(therms)', 'Address', 'DefaultData', 'BuildingType', 'ListOfAllPropertyUseTypes', 'PropertyName', 'ThirdLargestPropertyUseType', 'TaxParcelIdentificationNumber', 'PrimaryPropertyType'] not in index"

In [16]:
df

,Unnamed: 0,Unnamed: 0.1,OSEBuildingID,DataYear,ZipCode,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,...,ThirdLargestPropertyUseType_Refrigerated Warehouse,ThirdLargestPropertyUseType_Restaurant,ThirdLargestPropertyUseType_Retail Store,ThirdLargestPropertyUseType_Self-Storage Facility,ThirdLargestPropertyUseType_Social/Meeting Hall,ThirdLargestPropertyUseType_Strip Mall,ThirdLargestPropertyUseType_Supermarket/Grocery Store,ThirdLargestPropertyUseType_Swimming Pool,ThirdLargestPropertyUseType_Vocational School,ThirdLargestPropertyUseType_Worship Facility
0,1,1,2,2016,98101.0,47.61317,-122.33393,1996,1.0,11,...,0,1,0,0,0,0,0,0,0,0
1,4,4,8,2016,98121.0,47.61375,-122.34047,1980,1.0,18,...,0,0,0,0,0,0,0,1,0,0
2,34,34,43,2016,98108.0,47.53493,-122.31788,1992,1.0,3,...,0,0,0,0,0,0,0,0,0,0
3,43,43,57,2016,98101.0,47.61130,-122.33659,1973,1.0,5,...,0,0,0,0,0,0,0,0,0,0
4,47,47,62,2016,98101.0,47.61233,-122.33432,1930,1.0,20,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1598,1598,49737,2016,98109.0,47.62503,-122.35642,1918,1.0,3,...,0,0,0,0,0,0,0,0,0,0
155,1601,1601,49776,2016,98121.0,47.61156,-122.34401,1988,1.0,13,...,0,0,0,0,0,0,0,0,0,0
156,1609,1609,49802,2016,98107.0,47.66629,-122.38260,2013,1.0,4,...,0,0,0,0,0,0,0,1,0,0
157,1644,1644,50054,2016,98109.0,47.62251,-122.33390,2014,1.0,13,...,0,0,1,0,0,0,0,0,0,0
158,1645,1645,50062,2016,98103.0,47.65476,-122.34732,2014,1.0,4,...,0,0,0,0,0,0,0,1,0,0

In [17]:
df.dropna(inplace=True)

In [18]:
df

,Unnamed: 0,Unnamed: 0.1,OSEBuildingID,DataYear,ZipCode,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,...,ThirdLargestPropertyUseType_Refrigerated Warehouse,ThirdLargestPropertyUseType_Restaurant,ThirdLargestPropertyUseType_Retail Store,ThirdLargestPropertyUseType_Self-Storage Facility,ThirdLargestPropertyUseType_Social/Meeting Hall,ThirdLargestPropertyUseType_Strip Mall,ThirdLargestPropertyUseType_Supermarket/Grocery Store,ThirdLargestPropertyUseType_Swimming Pool,ThirdLargestPropertyUseType_Vocational School,ThirdLargestPropertyUseType_Worship Facility
0,1,1,2,2016,98101.0,47.61317,-122.33393,1996,1.0,11,...,0,1,0,0,0,0,0,0,0,0
1,4,4,8,2016,98121.0,47.61375,-122.34047,1980,1.0,18,...,0,0,0,0,0,0,0,1,0,0
2,34,34,43,2016,98108.0,47.53493,-122.31788,1992,1.0,3,...,0,0,0,0,0,0,0,0,0,0
3,43,43,57,2016,98101.0,47.61130,-122.33659,1973,1.0,5,...,0,0,0,0,0,0,0,0,0,0
4,47,47,62,2016,98101.0,47.61233,-122.33432,1930,1.0,20,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1598,1598,49737,2016,98109.0,47.62503,-122.35642,1918,1.0,3,...,0,0,0,0,0,0,0,0,0,0
155,1601,1601,49776,2016,98121.0,47.61156,-122.34401,1988,1.0,13,...,0,0,0,0,0,0,0,0,0,0
156,1609,1609,49802,2016,98107.0,47.66629,-122.38260,2013,1.0,4,...,0,0,0,0,0,0,0,1,0,0
157,1644,1644,50054,2016,98109.0,47.62251,-122.33390,2014,1.0,13,...,0,0,1,0,0,0,0,0,0,0
158,1645,1645,50062,2016,98103.0,47.65476,-122.34732,2014,1.0,4,...,0,0,0,0,0,0,0,1,0,0

In [19]:
df.to_csv("test.csv")

In [ ]:
numericColumns = ['OSEBuildingID', 'CouncilDistrictCode',  'NumberofFloors','PropertyGFATotal', 'PropertyGFAParking', 'PropertyGFABuilding(s)', 'BuildingAge']
qualitativesColumns = list(df.select_dtypes(include=['object']))

In [ ]:
df.info()